<div class ="container">
  <div class ="row">
    <div class ="col-4">
      <%= render '/users/user',user: @user %>
      <%= render 'book',book: @book %>
    </div>
    <div class ="col-8">
      <h1>Book detail</h1>
      <table class = "table table-hover table-inverse">
        <tr>
          <th><%=image_tag @user.get_image%><br>
            <%= link_to @users.name,user_path(@users) %></th>
          <th><%= @book_new.title%></th>
          <th><%= @book_new.body %></th>
            <% if user_signed_in? && @book_new.user.id==current_user.id %>
          <th><%=link_to "Edit",edit_book_path(@book_new.id) %></th>
          <th><%=link_to "Destroy",book_path(@book_new.id), method: :delete, data: { confirm: "削除しますか？" } %></th>
            <% else %>
            <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>